body{
	font-size: 17px;	
  font-family: Arial, Helvetica, sans-serif;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 3px solid white !important;
}
#header-nav{
  background-color:purple;  
  border:3px solid white; 
  border-radius: 2;
}
.navbar-brand{
  margin-top: 9px;
  padding-top:9px;
}
.navbar-nav{
  margin:0 -15px !important;
}
.navbar-brand h1{
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  margin-left: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration:double;  
}
#nav-list{
  border:2px solid;
}
#nav-list:nth-child(3){
  border-bottom:0;
}
#nav-list li{
  background:greenyellow;
  border-bottom:2.5px solid;
}
#nav-list li:nth-child(3){
  border-bottom:0;
}
#nav-list li a{
  color:#000;
  font-weight: 601;
  line-height: 9px
}
.menu{
  margin:13px; 
  
}
.main-title{
  font-weight: bold;
  margin-top: -3px;
}
.menu-content{ 
  margin-top:41px;
 
}
.menu-title{
  font-weight: bold;
}
.menu-item{
  margin-bottom: 21px;
  background:blueviolet;  
  padding: 11px;
  color: white;
}
.menu-item h4 {
  font-weight: bold;
}
.menu-item p{
  font-weight:601;
  font-size: 1em;
  padding: 6px 11px;
}
@media (max-width:770px){
  .navbar-brand:focus, .navbar-brand{
    margin-left:11px;
  }
  .menu{
    width: 81%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 16px;
  }
  .menu-item p{
    font-weight: 602;
    font-size: 1.1em;
    padding:6px 20px;
  }
}